/* body */


body {
   background-color: #243034;
}

/* header */

header {
   width: 100%;
   border: 1px solid red;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   height: 40px;
   width: 140px;
}


.logo img {
   width: 100%;
}

.navbar {
   border: 1px solid green;
   margin-right: 30px;
}

.navbar .navbar-nav {
   display: flex;
}


.navbar .navbar-nav .nav-item {
   margin-left: 15px;
   list-style-type: none;
   width: 105px;
   height: 38px;
   border-radius: 20px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   -ms-border-radius: 20px;
   -o-border-radius: 20px;

   display: flex;
   justify-content: center;

   align-items: center;
}


.navbar .navbar-nav .nav-item:nth-child(1) {
   margin-left: 15px;
   list-style-type: none;
   background-color: #f4f4f4;
   color: #008B9F;
}

.navbar .navbar-nav .nav-item:nth-child(1):hover .nav-link {
   color: #008B9F;
   opacity: 60%;
}


.navbar .navbar-nav .nav-item:nth-child(2) {
   margin-left: 15px;
   list-style-type: none;
   background-color: #008B9F;

}


.navbar .navbar-nav .nav-item:nth-child(2):hover {
   background-color: #f4f4f4;


}



.navbar .navbar-nav .nav-item:nth-child(2):hover .nav-link {
   color: #008B9F;
}



.navbar .navbar-nav .nav-item:nth-child(1) .nav-link {
   color: #008B9F;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
}

.navbar .navbar-nav .nav-item:nth-child(2) .nav-link {
   color: #000000;
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
}



/* after-header */



.after-header {
   border: 1px solid red;
   margin-top: 150px;
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap; /* Permet aux éléments de s'enrouler lorsque l'espace est insuffisant */
}

.after-header .container-left,
.after-header .container-right {
   width: 50%;
   box-sizing: border-box; /* Inclure les bordures et les marges dans la largeur déclarée */
   padding: 0 20px; /* Ajouter un peu de marge intérieure pour plus d'espace */
}

.after-header .container-left {
   border: 1px solid green;
}

.after-header .container-left p {
   color: #FFFFFF;
   font-size: 25px;
   line-height: 28px; /* Ajuster la hauteur de ligne pour un meilleur espacement */
   letter-spacing: 1px; /* Réduire l'espacement entre les lettres */
}

.after-header .container-left h1 {
   color: #FFFFFF;
   font-size: 75px; /* Réduire la taille de la police pour les écrans plus petits */
   margin: 0;
}

.after-header .container-right {
   border: 1px solid yellow;
   text-align: center; /* Centrer l'image */
   padding: 20px; /* Ajouter un peu de marge intérieure pour plus d'espace */
}

.after-header .container-right .velib {
   max-width: 100%; /* Assurez-vous que l'image ne dépasse pas de son conteneur */
   height: auto; /* Pour maintenir le rapport hauteur-largeur */
   display: block; /* Pour éviter tout espace supplémentaire sous l'image */
}



@media screen and (max-width: 700px) {
   .after-header {
    display: flex;
    flex-direction: column;
  }

  .after-header .container-left {
   border: 1px solid green;
   width: 428px;
   text-align: center;
  }
    .after-header .container-left p {
        font-size: 20px; /* Réduire la taille de la police */
    }

    .after-header .container-left h1 {
        font-size: 75px; /* Réduire la taille de la police */
    }

    .after-header .container-right {
        order: -1; /* Change l'ordre des conteneurs pour mettre le conteneur droit en premier */
    }

}





/* center */

.container {
   border: 1px solid red;
   margin: 100px 0 200px;
}





 
 /* footer */
 
 footer {
   border: 1px solid rgb(30, 255, 0);
   width: 100%;
}

.footer-up {
   border: 1px solid rgb(208, 255, 0);
   background-color: rgb(0, 139, 159, 0.7);
   padding: 20px; /* Ajout de padding pour un meilleur espacement */
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo-footer {
   margin: 20px auto;
}

.logo-footer img {
   width: 150px; /* Ajuster la taille du logo */
}

.logo-items {
   border: 1px solid rgb(255, 230, 0);
   width: 100%;
   max-width: 500px; /* Limiter la largeur pour éviter l'extension sur de grands écrans */
   margin: 20px auto;
   display: flex;
   justify-content: space-around; /* Répartir uniformément les éléments */
}

.logo-items .footer-logo-item {
   list-style-type: none;
   margin: 25px;
}

.logo-items .footer-logo-item .footer-logo-link img {
   width: 50px; /* Ajuster la taille des logos sociaux */
}


.footer-logo{
  display: flex ;
}


.copyright {
  border: 1px solid rgb(255, 0, 255);
}


.copyright p {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}




/* Ajouter des media queries pour les tailles d'écran spécifiques */
@media  screen and (max-width: 600px) {
   .footer-up {
       height: auto; /* Hauteur automatique pour les petits écrans */
   }
   
   .logo-items {
       flex-direction: column; /* Afficher les éléments en colonne pour les petits écrans */
       align-items: center;
   }

   .logo-items .footer-logo-item {
    
     margin: 10px;
 }
  
}

/* Vous pouvez ajouter d'autres règles de media queries selon vos besoins */


