
.title-favori{
    width: 60%;
    background-color: #fff;
    margin: 0 auto 25px;
    border-radius: 8px;
    height: 75px;
    display: flex;
    justify-content: center;
    }
    
    .title-favori h1 {
       text-align: center;
       margin-bottom: 20px;
       
    }
    
    .element-list {
       width: 60%;
       margin: 0 auto;
    }
    
    .element {
       background-color: #fff;
       border-radius: 8px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 10px;
       margin-bottom: 10px;
       border: 1px red solid;
    }
    
    .element img {
       width: 40px;
       height: 40px;
       margin-right: 10px;
    }
    
    .element span {
       font-size: 18px;
    }
    
    .edit-btn, .delete-btn {
       border: none;
       padding: 10px 20px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin-left: auto;
       cursor: pointer;
       background-color: #fff;
    }
    
    .adresse {
       border: 1px solid green;
     
    }
    
    .bloc-adresse {
       border: 1px solid purple;
       display: flex;
       align-items: center;
    }
    
    .adresse .adresse-item {
       margin: 11px 0;
    
    }
    
    .adresse .name-adresse {
       font-weight: bold;
    }
    
    
    .button-more{
       display: none;
    }



.more-edit-del{
   display: none;
}


    
    /* Responsive Styles */

    @media  screen and (max-width: 768px) {
    
       .title-favori{
       width: 80%;
    
       }
       
       .element-list {
          width: 80%; /* Adjust width for smaller screens */
       }
    
       .element {
          /* flex-direction: column; Stack elements vertically */
          position: relative;
      
      
         }
    
       .edit-btn, .delete-btn {
          margin-left: 0; /* Reset margin for buttons */
          margin-top: 10px; /* Add space between buttons */
       }
    
    
       .button-edit-del{
          display: none;
       }
    
    
       .button-more{
          display: block;
          background-color: #fff;
       }
    
       .button-more .more-btn {
            background: white;
            border: none;
       }



       /* .................................. */

       
       .more-edit-del{
         display: none;
       
         border: 2px solid black;
         position: absolute;
         right: 4%;
         top: 10%;
         background-color: #FFFFFF;
         border-radius: 5px;
      }
      

       .more-edit-del ul{
         border: 1px solid rgb(43, 255, 0);
         width: 90px;
         /* float: left; */
       }


       .more-edit-del .more-edit-del-close{

        width: 20px;
        height: 20px; 
        float: right;
       

       }
     
      .more-edit-del-item{
           list-style-type: none;
           margin: 25px auto 0;
      }
      .more-edit-del-item .more-edit-del-update{
      
         text-decoration: none;
         font-size: 12px;
         font-weight: bold;
         color: #008B9F;
      }

      .more-edit-del-item .more-edit-del-delete{
         text-decoration: none;
         font-size: 12px;
         font-weight: bold;
         color: #FF0000;
      }

      .active{
         display: block;
      }


      .adresse .adresse-item {
         overflow: hidden;
         width: 200px; 
         white-space: nowrap;
      
      }
      
   



    }
    