
  .modification {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
  }

  .input-group {
    margin-bottom: 10px;
    height: 55px;

  }

  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .form-control[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 55px;
  }

  .form-control[type="button"] {
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
    height: 55px;
  }

  .valider {
    background-color: #008B9F;
    color: white;
    height: 55px;
    font-size: 22px;
    cursor: pointer;
  }
  .annuler {
    background-color:white;

    height: 55px;
    font-size: 22px;
    cursor: pointer;
  }

  .annuler a {
 list-style-type: none;
 text-decoration: none;
 color: red;
  }

  
  .valider a {
    list-style-type: none;
    text-decoration: none;
    color: white;
  }