<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css2/base_connected.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="logo">
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          alt="logo-velelib"
        />
      </div>

      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Favoris</a>
          </li>
        </ul>
      </nav>


<div class='pseudo'>
  <span>S<span>
</div>




<!--...........profil setting..............-->

<div class="profil-setting">
  
  <img
  src="{{ url_for('static', filename='images/close.png') }}"
  alt="logo-velelib"
  class="close"
/>  


<div class='pseudo-setting'>
  <span>S<span>
</div>

<ul class="nav-setting">
 
  <li class="nav-setting-item">
    <a class="nav-setting-link  update" href="#">Modifier mon profil</a>
  </li>
  <li class="nav-setting-item">
    <a class="nav-setting-link deconnexion" href="#">Deconnexion</a>
  </li>
</ul>



</div>



<!--  .......................................-->

<div class="profil-setting-responsiv">
  
  <img
  src="{{ url_for('static', filename='images/close.png') }}"
  alt="logo-velelib"
  class="close-responsiv"
/>  


<div class='pseudo-setting'>
  <span>S<span>
</div>

<ul class="nav-setting">
  <li class="nav-setting-item  nav-setting-item-resp">
    <a class="nav-setting-link  nav-setting-link-resp  favori" href="#">Liste des favoris </a>
  </li>
  <li class="nav-setting-item  nav-setting-item-resp">
    <a class="nav-setting-link  nav-setting-link-resp  update" href="#">Modifier mon profil</a>
  </li>
  <li class="nav-setting-item  nav-setting-item-resp">
    <a class="nav-setting-link  nav-setting-link-resp deconnexion" href="#">Deconnexion</a>
  </li>
</ul>

</div>



<!--  .......................................-->



<div class='menu-burger'>
  <img
        src="{{ url_for('static', filename='images/menu-burger.png') }}"
        alt="logo-velelib"
        class="menu"
      />  
</div>


    </header>
 
    

   

<section class="after-header">
      <div class="container-left">
        <p>LET ' S RIDE THE</p>
        <h1>FUTURE</h1>
      </div>
      <div class="container-right">
        <img
          src="{{ url_for('static', filename='images/bike.png') }}"
          class="velib"
          alt="velib"
        />
      </div>
    </section>




    <div class="container">
      {% block content %}

      
      {% endblock%}
    </div>

   
    
    <footer>
      <div class="footer-up">
        <div class="logo-footer">
          <img
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="logo-velelib"
          />
        </div>
        <div class="logo-items">
          <ul class="footer-logo">
            <li class="footer-logo-item">
              <a class="footer-logo-link" href="#">
                <img
                  src="{{ url_for('static', filename='images/image-facebook.png') }}"
                  alt="logo-velelib"
              /></a>
            </li>
            <li class="footer-logo-item">
              <a class="footer-logo-link" href="#">
                <img
                  src="{{ url_for('static', filename='images/image-instagram.png') }}"
                  alt="logo-velelib"
              /></a>
            </li>
            <li class="footer-logo-item">
              <a class="footer-logo-link" href="#">
                <img
                  src="{{ url_for('static', filename='images/image-youtube.png') }}"
                  alt="logo-velelib"
              /></a>
            </li>
            <li class="footer-logo-item">
              <a class="footer-logo-link" href="#">
                <img
                  src="{{ url_for('static', filename='images/image-linkedin.png') }}"
                  alt="logo-velelib"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>@Copyright 2024</p>
      </div>
    </footer>

    <script  src="{{ url_for('static', filename='js/base_connected.js') }}"></script>
  </body>
</html>
