<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Vélib'</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header>
        <h1>Projet Vélib'</h1>
    </header>
    <nav>
        <ul>
            {% if "username" not in session %}
            <li><a href="/login">Connexion</a></li>
            <li><a href="/register">Inscription</a></li>
            {% else %}
            <li><a href="/">Accueil</a></li>
            <li><a href="/favorites">Favoris</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Projet Vélib'</p>
    </footer>
</body>
</html>
