<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  <title>{{ title }}</title>
</head>

<body>
  <div class="login">
    <section class="deco-content">
      <div class="navigation">
        <div class="logo">Bike</div>
      </div>
      <div class="image-container">
        <img src="../static/images/cutout_mira-daily_sage-green_front 1.png" alt="img">
      </div>
    </section>
    <section class="form-container">
      <div class="sign-in-container">
        <form action="/login" method="post">
          <h1>Connectez-vous</h1>
          <span>Connectez-vous pour accéder à votre espace</span>
          <div>
            <div>
              <label for="username">Username</label>
              <input type="text" id="username" name="username" value="{{ request.form.username }}">
            </div>
            <div>
              <label for="password">Mot de passe</label>
              <input type="password" id="password" name="password">
            </div>
          </div>
          <p>{{ errormsg }}</p> 
          <button type="submit">Sign In</button>
          <span>Vous n’avez pas de compte ? <a href="/register">Créer un compte</a></span>
        </form>
      </div>
    </section>
  </div>
  <script src="{{ url_for('static', filename='js/loginValidation.js') }}"></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>