<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Favoris</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mesFavoris.css') }}">
</head>

<body>
    <div id="container">
        <div id="fav">
            <div id="mesFavoris">
                <h2>Mes Favoris</h2>
            </div>
            <div id="listFavoris">
                <p>Aucune(e) Favoris</p>
            </div>
        </div>
    </div>

    <ul id="formFav">
        {% for favorite in favorites %}
        <li>
            <form action="/define_location" method="POST">
                <h1>{{ favorite[4] if favorite[4] else "Aucun lieu défini" }}</h1>
                <p>{{ favorite[1] }}</p>
                <input type="hidden" name="favorite_id" value="{{ favorite[0] }}">
                <input type="text" name="location" placeholder="Définir un lieu">
                <button type="submit">Définir</button>
            </form>
            <form action="/delete_favorite" method="POST">
                <input type="hidden" name="favorite_id" value="{{ favorite[0] }}">
                <button type="submit">Supprimer</button>
            </form>
        </li>
        {% endfor %}
    </ul>

</body>

</html>