<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css2/modification-favori.css') }}"
    />
  </head>
  <body>
    {% extends "base_connected.html" %}

  {% block content %}


  <div class="modification">

    <div class="input-group">
      <input type="text" class="form-control change-name" placeholder="Entrer le nouveau nom"/>
    </div>
  
    <div class="input-group">
      <button class="form-control annuler"> <a class="" href="{{ url_for('listFavori') }}">Annuler</a></button>
    </div>
  
    <div class="input-group">
      <button class="form-control valider"> <a class="" href="#">Valider</a></button>
    </div>
  
  </div>

 <script src="{{ url_for('static', filename='js/modification-favori.js') }}">   </script>
   {% endblock%}
  
  </body>
</html>
